gunicorn
pandas
numpy
scikit-learn
matplotlib
seaborn
unicorn
uvicorn
python
my-application
absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
aws==0.2.5
boto==2.49.0
boto3==1.35.71
botocore==1.35.71
Deprecated==1.2.15
external==0.0.1
fabric==3.2.2
fastapi==0.115.5
Flask-Cors==5.0.0
flatbuffers==24.3.25
fqdn==1.5.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.67.1

invoke==2.2.0

isoduration==20.11.0

jsonpointer==2.1

keras==3.6.0

lambda==0.0.1

libclang==18.1.1

mkl-service==2.4.0
ml-dtypes==0.4.1

namex==0.0.8

opt_einsum==3.4.0
optree==0.13.0

prettytable==3.12.0

protobuf==3.20.3

pyasn1-modules==0.2.8

pycurl==7.45.2

pyls-spyder==0.4.0

PyQt5==5.15.10

PyQtWebEngine==5.15.6

python-pptx==1.0.2

pywin32==305.1


s3transfer==0.10.4

setuptools==69.5.1

starlette==0.41.3

tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0

uri-template==1.3.0

webcolors==24.11.1

wheel==0.43.0

XlsxWriter==3.2.0
